/* Italic Bold (700) */
@font-face {
  font-family: "Banana Grotesk B It";
  font-style: italic;
  font-weight: 700;
  src: url("https://kristofrevilak.github.io/BananaGrotesk-BoldItalic.woff")
    format("woff");
}
