/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* #################### */
/* End of the CSS RESET */
/* #################### */


/* The basic selectors */

html{

	padding: 0;
	height: 100%;
  width: 100%;

}


body{

	padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
	font-family: 'Cormorant Garamond', serif;

}




/* The scrollbar settings */

body::-webkit-scrollbar {
    width: 0;
}


/*body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}


body::-webkit-scrollbar-thumb {
  background-color: darkcyan;
  outline: 1px solid slategrey;
}*/




/* ######################### */
/* The "body borders" effect */
/* ######################### */


/* Create a series of empty pseudo-elements... */
html:before,html:after,body:before,body:after{

		content:"";
    background-color:#F3C9DD;
    position:fixed;
    display:block;
    z-index:5;

}


/* ...and position them! */
html:before{

		height:.65vw;
    left:0;
    right:0;
    top:0;

}


html:after{

		width:.65vw;
    top:0;
    right:0;
		bottom:0;

}


body:before{

		height:.65vw;
    right:0;
    bottom:0;
    left:0;

}


body:after{

		width:.65vw;
    top:0;
    bottom:0;
    left:0;

}




/* ############## */
/* The navbar css */
/* ###############*/


#x{
	display: none;
}

ul{

	list-style: none;
	display: block;
	float: left;
  margin-left: 7%;
	position: fixed;
	color: black;
	margin-top: 10%;

}

@media screen and (max-width: 640px){

	.nadpis, .go-down, #view-dem{
	
	display: none;

	}

}


li a{

	display: inline-block;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	color: black;
	text-decoration: none;
	padding-top: 5%;

}

@media screen and (min-width: 600px){
	#mobile{
		display: none;
	}
	#home, #abme, #proj, #cont{
		display: block;
	}
}
@media screen and (max-width: 600px){
	#mobile{
		display: block;
	}
	#home, #abme, #proj, #cont{
		display: none;
	}
}

nav ul li a:hover{

	text-decoration: line-through;

}


nav:hover{

	background-color: white;

}

/* The active "li" css */
.active a{

	color: cyan;
	text-decoration: line-through;

}

.active a:hover{

	text-decoration: none;
	margin-top: 0%;

}


/* ################ */
/* The landing page */
/* ################ */


/* The Kristof Revilak title */
#center{

	width: 50%;
  text-align: left;
	font-size: 11vw;
  letter-spacing: 2vw;
  /*font-family: 'Trirong', serif;*/
	font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
	/*padding-top: 5%;*/
	color: #FDA69A;
	padding-left: 1.5%;
	padding-top: 20%;
}

#center:hover{

	color: rgba(255, 0, 0, 0.5);

}

@media screen and (max-width: 500px){
	#center{
		font-size: 65px;
	}
}





/* The portfolio sign */
.portfolio{
	width: 30%;
  text-align: right;
	font-size: 5vw;
  letter-spacing: 1.2vw;
  line-height: 120%;
  /*font-family: 'Trirong', serif;*/
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	float: right;
	padding-right: 1.5%;
	padding-top: 1.5%;
}
@media screen and (max-width: 500px){
	.portfolio{
		padding-right: 0%;
		padding-left: 3%;
		padding-top: 1.5%;
		font-size: 30px;
	}
}




/* Another div for the arrow */
.go-down{

	cursor: default;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 200;
	display: block;
	font-size: 1.5vw;
	text-align: center;
}

.go-down:hover{

	color: #F3C9DD;
	font-weight: 800;
	font-size: 2.5vw;

}

#view-projects{
	margin-top: 2%;
}

/* ################# */
/* The projects page */
/* ################# */


/* The projects title */
.nadpis{

	width: 35%;
  text-align: center;
	font-size: 4vw;
  letter-spacing: 1.6vw;
  line-height: 120%;
  /*font-family: 'Trirong', serif;*/
	font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
	margin: 0 auto;
	/* margin-top: 50%; */
	margin-bottom: 18%;

}

@media screen and (max-width: 640px){

	.nadpis, .go-down, #view-dem{
	
	display: none;

	}

}



/*view projects*/

.front-project{
	background: url("img/image1.jpeg");
	padding-top: 15%;
	padding-bottom: 10%;
	margin-top: 30%;
	color: white;
}



/* #################### */
/* The projects squares */
/* #################### */


/*the main div*/
.text{

	width: 45%;
  margin: 15% auto;
  background-color: rgba(255, 0, 0, 0.5);
  padding: 10%;

}

.text h3{

	font-size: 8vw;
	margin-left: 90%;
	width: 50%;
	display: block;
	font-family: 'Arapey', cursive;

}


#tribute{
	background-image: url("https://s14-eu5.ixquick.com/cgi-bin/serveimage?url=http:%2F%2Fwww.telegraph.co.uk%2Fcontent%2Fdam%2Fart%2F2016%2F10%2F04%2Fpicasso-large_trans_NvBQzQNjv4BqqVzuuqpFlyLIwiB6NTmJwbKTcqHAsmNzJMPMiov7fpk.jpg&sp=ac4dc4e35bc0ac74a30ea29d11ece6b9");
	background-color: transparent;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
	padding: 10%;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
#tribute:hover{
	-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
	transform: scale(1.1);
}


#nodeblog{

	background-image: url("quotescreen.png");
	background-color: transparent;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
	padding: 10%;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);

}


#nodeblog:hover{
	-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
	transform: scale(1.1);
}


/* ############ */
/* The about me */
/* ############ */


/* The title in the text */
.about-me{

	color:#F3C9DD;
	font-size: 8vw;


}


/* The about me text */
.aboutme{

	font-family: 'Source Sans Pro', sans-serif;
	width: 70%;
	font-size: 4vw;
	color: black;
	margin-left: 20%;
	margin-right: 10%;
	margin-bottom: 7%;

}




/* ################ */
/* The contact page */
/* ################ */


.contact{
	height: 1%;
	font-size: 4vw;
	font-weight: 600;
	letter-spacing: 1.6vw;
	position: relative;
	top: 0%;
	text-align: center;
	margin-bottom: 20%;
	margin-top: 35%;
}
@media screen and (max-width: 600px){
	.contact{
		/* display: none; */
	}
}

.space{
	height: 1%;
}

/* ############### */
/* The footer page */
/* ############### */


/* The rotated footer text with the year */
#that-p{

	font-size: 1.5vw;
	transform: rotate(90deg);
	position: fixed;
	top: 50%;
	right: -3%;
	cursor: default;

}


/* same css for all the social buttons */
.social{

	position: fixed;
	bottom: 5%;
	right: 8%;
	margin-top: 1%;
	cursor: pointer;
	font-size: 1vw;
	padding: 0;

}

@media screen and (max-width: 600px){
	.social{
		/* display: none; */
	}
}
.social p{

	padding: 5%;
	text-align: center;
	display: inline;

}


#fb:hover{
	text-decoration: line-through;
	color: blue;
}


#ig:hover{
	text-decoration: line-through;
	color: red;
}


#snap:hover{
	text-decoration: line-through;
	color: yellow;
}

