/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* #################### */
/* End of the CSS RESET */
/* #################### */
/* The basic selectors */
html {
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background: #f0dfe7;
  font-family: 'Cormorant Garamond', serif;
}

body::-webkit-scrollbar {
  width: 0;
}

/* The scrollbar settings */
/*body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}


body::-webkit-scrollbar-thumb {
  background-color: darkcyan;
  outline: 1px solid slategrey;
}*/
/* ######################### */
/* The "body borders" effect */
/* ######################### */
/* Create a series of empty pseudo-elements... */
html:before, html:after {
  content: "";
  background-color: white;
  position: fixed;
  display: block;
  z-index: 5;
}

body:before, body:after {
  content: "";
  background-color: white;
  position: fixed;
  display: block;
  z-index: 5;
}

/* ...and position them! */
html:before {
  height: 2.5vw;
  max-height: 40px;
  left: 0;
  right: 0;
  top: 0;
}

html:after {
  max-width: 40px;
  width: 2.5vw;
  top: 0;
  right: 0;
  bottom: 0;
}

body:before {
  height: 2.5vw;
  max-height: 40px;
  right: 0;
  bottom: 0;
  left: 0;
}

body:after {
  max-width: 40px;
  width: 2.5vw;
  top: 0;
  bottom: 0;
  left: 0;
}

/* ############## */
/* The navbar css */
/* ###############*/
.logo {
  overflow: hidden;
  position: fixed;
  left: 100px;
  top: 1vw;
  opacity: 0;
  color: #304268;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: lowercase;
  border: 2px solid #304268;
  padding: .8vw;
  border-radius: 1px;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

.logo h2 {
  font-size: 18px;
}

.logo h1 {
  font-size: 22px;
  font-weight: bold;
}

.logo:before {
  content: '';
  position: absolute;
  top: 58%;
  left: 0px;
  right: 0;
  bottom: 0;
  overflow: display;
  width: 100%;
  z-index: -1;
  background: rgba(255, 0, 106, 0.308);
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.logo:after {
  content: '';
  position: absolute;
  top: 65%;
  left: 0px;
  right: 0;
  bottom: 0;
  overflow: display;
  width: 100%;
  z-index: -1;
  background: rgba(255, 0, 106, 0.678);
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
}

.logo:hover:before {
  top: 15%;
}

.logo:hover:after {
  top: 30%;
}

header {
  overflow: hidden;
  position: fixed;
  right: 50px;
  padding-right: 5vw;
  font-family: 'Source Sans Pro', sans-serif;
  top: 20px;
  width: 451px !important;
  min-width: 451px !important;
  max-width: 451px !important;
  opacity: 0;
  color: #304268;
}

header p {
  display: inline-block;
  -webkit-transition: 0.5 ease-out;
  transition: 0.5 ease-out;
  margin-left: 30px;
}

header p:before {
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: display;
  width: 70px;
  height: 0px;
  z-index: 1;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  color: transparent;
}

header p:hover:before {
  -webkit-animation: glitchy 0.2s ease 0.1s infinite;
          animation: glitchy 0.2s ease 0.1s infinite;
  height: 15px;
}

header #st:before {
  left: 23px;
  background-color: rgba(255, 0, 106, 0.278);
}

header #pr:before {
  left: 110px;
  background-color: rgba(255, 0, 106, 0.478);
}

header #ab:before {
  left: 205px;
  background-color: rgba(255, 0, 106, 0.678);
}

header #te:before {
  left: 300px;
  width: 60px;
  background-color: rgba(255, 0, 106, 0.878);
}

/* ################ */
/* The landing page */
/* ################ */
.word {
  opacity: 0;
}

.first-view {
  padding: 100px;
  padding-left: 15vw;
  padding-top: 150px;
  overflow: hidden;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  /* display: none; */
  text-transform: lowercase;
  cursor: default;
}

.hi, .my-name, .name, .and-this, .is-my, .port {
  opacity: 0;
}

.hi, .my-name, .and-this, .is-my, .name, .portfolio {
  /* position: absolute;
  top: 20px;
  left: 20px; */
  padding-top: 1vw;
  font-family: 'Forum', cursive;
  font-size: calc(25px + 3vw);
  font-style: italic;
  position: relative;
  font-weight: 800;
  color: #304268;
  -webkit-text-decoration: rgba(255, 0, 0, 0.5) underline;
          text-decoration: rgba(255, 0, 0, 0.5) underline;
}

.name {
  color: red;
  padding-left: calc(35px + 3vw);
  text-decoration: none;
}

#center {
  font-size: 100px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  overflow: hidden;
  width: 100%;
}

#center:hover {
  right: 30px;
}

.portfolio {
  width: 400px;
  font-size: 5vw;
  line-height: 120%;
  text-decoration: none;
  /*font-family: 'Trirong', serif;*/
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  color: red;
  padding: 20px;
  margin-left: calc(35px + 3vw);
  overflow: hidden;
}

.left {
  width: 40%;
  clear: both;
  margin: 0 auto;
}

.right {
  width: 70%;
  position: relative;
  margin-left: 10%;
  left: 0%;
}

.scroll-down {
  position: absolute;
  bottom: 30vh;
  height: 30vh;
}

.scroll-down .scroll-text {
  color: #304268;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  width: 1vh;
  position: relative;
  top: -10vh;
  opacity: 0;
  display: block;
  overflow: hidden;
}

.scroll-down .scroll-line {
  width: 1px;
  background-color: #304268;
  height: 20vh;
  position: relative;
  top: 30vh;
  opacity: 0;
  margin-left: calc(3px + .5vw);
}

@media screen and (max-width: 500px) {
  #center {
    font-size: 65px;
  }
}

.img {
  min-width: 200px;
  min-width: 150px;
  width: 40%;
  overflow: hidden;
  position: absolute;
  right: 50px;
  opacity: 0;
  bottom: 5%;
}

.img img {
  width: 400px;
  border: 1px solid black;
  -webkit-animation: borderr 0.2 ease-in 3s infinite;
          animation: borderr 0.2 ease-in 3s infinite;
  -webkit-filter: grayscale(30%) blur(0.8px) sepia(30%) opacity(80%);
          filter: grayscale(30%) blur(0.8px) sepia(30%) opacity(80%);
}

/* The portfolio sign */
@media screen and (max-width: 500px) {
  .portfolio {
    padding-right: 0%;
    padding-left: 3%;
    padding-top: 1.5%;
    font-size: 30px;
  }
}

/* Another div for the arrow */
.go-down {
  cursor: default;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
  display: block;
  font-size: 1.5vw;
  text-align: center;
}

.go-down:hover {
  color: #F3C9DD;
  font-weight: 800;
  font-size: 2.5vw;
}

#view-projects {
  margin-top: 2%;
}

/* ################# */
/* The projects page */
/* ################# */
/* The projects title */
.nadpis {
  width: 35%;
  text-align: center;
  font-size: 4vw;
  letter-spacing: 1.6vw;
  line-height: 120%;
  /*font-family: 'Trirong', serif;*/
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  margin: 0 auto;
  /* margin-top: 50%; */
  margin-bottom: 18%;
}

@media screen and (max-width: 640px) {
  .nadpis, .go-down, #view-dem {
    display: none;
  }
}

/*view projects*/
.front-project {
  background: url("img/image1.jpeg");
  padding-top: 15%;
  padding-bottom: 10%;
  margin-top: 30%;
  color: white;
}

/* #################### */
/* The projects squares */
/* #################### */
/*the main div*/
.text {
  width: 100%;
  margin: 0 auto;
  height: 110vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

.project-desc {
  width: 35%;
  margin-left: 10%;
  opacity: 0;
}

.project-desc h3 {
  font-size: calc(20px + 3vw);
  position: relative;
  top: 40vh;
  left: 70px;
  text-transform: lowercase;
  display: inline-block;
  font-family: 'Source Sans Pro', sans-serif;
  color: #304268;
  -webkit-transform: translateZ(20px);
          transform: translateZ(20px);
  background: white;
}

.project-desc .project-header {
  margin-bottom: 3%;
}

.project-desc p {
  font-size: calc(14px + .5vw);
  position: relative;
  top: 40vh;
  left: 70px;
  text-transform: lowercase;
  display: inline-block;
  font-family: 'Source Sans Pro', sans-serif;
  color: #304268;
  line-height: 1.2;
  margin-bottom: 1%;
  width: 75%;
}

#quote-container {
  width: 100%;
  overflow: hidden;
  background-color: #ece177;
}

#tribute-container {
  width: 100%;
  overflow: hidden;
  background-color: #f0dfe7;
}

#weather-container {
  width: 100%;
  overflow: hidden;
  background-color: #ece177;
}

#wiki-container {
  width: 100%;
  overflow: hidden;
  background-color: #f0dfe7;
}

.proj-img {
  opacity: 0;
  position: relative;
  width: 100%;
  height: 100%;
  right: -10vw;
}

#nodeblog, #weather, #wiki, #tribute {
  background-image: url("quotescreen.png");
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 40vw;
  margin: 0 auto;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  margin-top: 10%;
  height: 50vh;
  overflow: hidden;
  -webkit-box-shadow: 10px 5px 8px #999999;
          box-shadow: 10px 5px 8px #999999;
  margin-right: 10%;
  position: relative;
  top: -10vw;
}

#tribute {
  background-image: url("https://s14-eu5.ixquick.com/cgi-bin/serveimage?url=http:%2F%2Fwww.telegraph.co.uk%2Fcontent%2Fdam%2Fart%2F2016%2F10%2F04%2Fpicasso-large_trans_NvBQzQNjv4BqqVzuuqpFlyLIwiB6NTmJwbKTcqHAsmNzJMPMiov7fpk.jpg&sp=ac4dc4e35bc0ac74a30ea29d11ece6b9");
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

#weather {
  background: url("https://cdn-images-1.medium.com/max/1920/1*rPypt_bQdSNMxfgOKERKzA.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#wiki {
  background: url("https://cdn-images-1.medium.com/max/1600/1*tJRr_Lf9nlFW7QmWHX8i8A.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.info {
  font-style: italic;
  font-size: calc(11px + .5vw) !important;
  color: #0f2655 !important;
}

.controller {
  margin-top: 5%;
}

.controller p {
  font-size: calc(9px + .5vw);
  color: #304268;
}

/* ############ */
/* The about me */
/* ############ */
/* The title in the text */
.about-me {
  color: rgba(255, 0, 106, 0.308);
  font-size: 8vw;
}

/* The about me text */
.aboutme {
  font-family: 'Source Sans Pro', sans-serif;
  width: 100%;
  padding: 10%;
  font-size: 4vw;
  color: #304268;
  background-color: white;
  display: block;
  margin: 0 auto;
}

/* ################ */
/* The contact page */
/* ################ */
.contact {
  height: 1%;
  font-size: 4vw;
  font-weight: 600;
  letter-spacing: 1.6vw;
  position: relative;
  top: 0%;
  text-align: center;
  margin-bottom: 20%;
  margin-top: 300px;
}

@media screen and (max-width: 600px) {
  .contact {
    /* display: none; */
  }
}

.space {
  height: 1%;
}

/* ############### */
/* The footer page */
/* ############### */
/* The rotated footer text with the year */
#that-p {
  font-size: calc(8px + 1.5vw);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  position: fixed;
  top: 50%;
  opacity: 0;
  right: -4%;
  cursor: default;
  font-family: 'Source Sans Pro', sans-serif;
  color: #304268;
}

/* same css for all the social buttons */
.social {
  position: fixed;
  bottom: 4%;
  opacity: 0;
  left: 100px;
  margin-top: 1%;
  cursor: pointer;
  font-size: calc(5px + .6vw);
  font-family: 'Source Sans Pro', sans-serif;
  color: #304268;
}

.social p {
  padding: 5%;
  text-align: center;
  display: inline;
  -webkit-transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

@media screen and (max-width: 600px) {
  .social {
    /* display: none; */
  }
}

#fb:hover {
  color: #3e65cf;
}

#ig:hover {
  color: #cd486b;
}

#gmail:hover {
  color: #c71610;
}

@keyframes glitchy {
  0% {
    -webkit-transform: translate3d(-3px, 2px, 1px);
            transform: translate3d(-3px, 2px, 1px);
  }
  25% {
    -webkit-transform: translate3d(-2px, 1px, -3px);
            transform: translate3d(-2px, 1px, -3px);
  }
  50% {
    -webkit-transform: translate3d(0px, 2px, 1px);
            transform: translate3d(0px, 2px, 1px);
  }
  75% {
    -webkit-transform: translate3d(1px, 3px, -2px);
            transform: translate3d(1px, 3px, -2px);
  }
  100% {
    -webkit-transform: translate3d(-2px, 3px 0px);
            transform: translate3d(-2px, 3px 0px);
    height: 0px;
  }
}

@-webkit-keyframes glitchy {
  0% {
    -webkit-transform: translate3d(-3px, 2px, 1px);
            transform: translate3d(-3px, 2px, 1px);
  }
  25% {
    -webkit-transform: translate3d(-2px, 1px, -3px);
            transform: translate3d(-2px, 1px, -3px);
  }
  50% {
    -webkit-transform: translate3d(0px, 2px, 1px);
            transform: translate3d(0px, 2px, 1px);
  }
  75% {
    -webkit-transform: translate3d(1px, 3px, -2px);
            transform: translate3d(1px, 3px, -2px);
  }
  100% {
    -webkit-transform: translate3d(-2px, 3px 0px);
            transform: translate3d(-2px, 3px 0px);
    height: 0px;
  }
}

@keyframes shade {
  0% {
    height: 10vh;
    opacity: 0.5;
  }
  20% {
    height: 20vh;
    opacity: 1;
  }
  90% {
    height: 0;
    opacity: 0;
  }
  100% {
    height: 0;
    opacity: 0;
  }
}

@-webkit-keyframes shade {
  0% {
    height: 10vh;
    opacity: 0.5;
  }
  10% {
    height: 20vh;
    opacity: 1;
  }
  90% {
    height: 0;
    opacity: 0;
  }
  100% {
    height: 0;
    opacity: 0;
  }
}
/*# sourceMappingURL=style.css.map */