/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'Raleway', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* GENERAL STYLES */

.black{
	color: black !important;
}


.white{
	color: white !important;
}
.lightblack{
	color: #4f4f4f !important;
}
.margin-bottom{
	margin-bottom: 5%;
}
.little-bottom{
	margin-bottom: 1%;
}
.center{
	text-align: center;
}

.bold{
	font-weight: bold;
}

.grey{
	background: #f7f7f7;
}
/* DIV CONTAINER STYLES */

.div-container{
	overflow: hidden;
}

.big{
	padding: 5% 15%;
}

.medium{
	padding: 5% 10%;
}

.div-container.small{
	padding: 5% 5%;
}

@media only screen and (max-width:900px){
	.big{
		padding: 5% 5%;
	}
	.medium{
		padding: 5%;
	}
	
	.div-container.small{
		padding: 5% 2%;
	}

	.start-elipse{
		width: 50vw !important;
	}
}


.div-container.blue{
	background-color: #84c6e7;
}

.div-container.darkblue{
	background-color: #3face3;
}

.div-container.lightblue{
	background-color: #c1e0f0;
}
.div-container.old-blue{
	background: #b5d3ff;
}
.div-container.pattern{
	background: url("qbkls.png");
}
.blue-wallpaper{
	background: url("wallpaper.png");
}

.rotate{
	overflow: hidden;
	position: relative;
	z-index: -2;
}

.rotate::before{
	content:"";
	display: inline-block;
	position: absolute;
	height: 10%;
	width: 100%;
	left: -20px;
	background-color: transparent;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
}

/* HEADER STYLES */

.header{
	font-weight: 800;
	text-transform: uppercase; 
	color: white;
	/* margin-bottom: 5%; */
}
.header.small{
	text-transform: initial;
}




.small-header h2{
	font-size: calc(12px + .6vw);
	line-height: 1.7;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 800;
}


.medium-header h2{
	font-size: calc(12px + 1vw);
	line-height: 1.7;
	letter-spacing: 1px;
}

.big-header h2{
	font-size: calc(16px + 1.2vw);
	line-height: 1.7;
	letter-spacing: 1px;
}

/* TEXT STYLES */

.text{

}

.big-text{
	font-size: calc(12px + 1vw);
	line-height: 1.7;
	letter-spacing: 0px;
}

.medium-text{
	font-size: calc(8px + .5vw);
	line-height: 1.7;
}

.small-text{
	font-size: calc(8px + .4vw);
	line-height: 1.7;
}

/* BUTTON STYLES */
.action-btn{
	box-shadow: 2px 5px 15px #c2c2c2;
	background: #67c5f4;
	border-radius: 20px;
	padding: 1% 2%;
	display: table;
	margin: 0 auto;
	cursor: pointer;
}
.action-btn a, .action-btn p{
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	font-size: calc(10px + .4vw);
}

.action-btn.expand{
	padding: 2% 4%;
}

.action-btn.transparent{
	background: transparent;
	border: none;
	font-weight: 100;
	margin: 0;
	padding: 0;
	box-shadow: none;
}

.action-btn.workshop{
	margin: 0;
}

.action-btn.expand img{
	float: right;
	width: 20%;
}

.action-btn.expand a{
	padding-top: 2%;
}

.double-button{
	overflow: hidden;
	display: flex;
  justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
	padding-bottom: 5%;
}

.action-btn.double{
	float: left;
	margin: 0 5px;
}

.value-container .medium-header{
	color: black;
	margin-bottom: 10%;
}

/* WELCOME PAGE */

.welcome-container{
	padding: 10%;
}

.bottom-graphic img{
	width: 45%;
	position: absolute;
	left: 0;
	z-index: 0;
}

.start{
	position: relative;
}

.start-container{ 
	width: 50%;
	float: left;
}


.start-h{
	width: 100%;
	margin-top: 25%;
	opacity: 0;
}

.start-t{
	width: 90%;
	color: white;
	opacity: 0;
}

.start-box{
	width: 40%;
	margin-top: 5%;
	display: inline-block;
	margin-right: 4%;
	padding: 4% !important;
	margin-bottom: 15%;
	opacity: 0;
}

.start-box h2{
	display: inline;
}

.start-box .name{
	font-weight: bold;
	text-transform: uppercase;
	display: inline-block;
	font-size: calc(8px + .45vw);
}
.start-box .title{
	font-weight: bold;
	font-size: calc(8px + .35vw);
	display: inline-block;
}
.start-box .text{
	margin-top: 1%;
	font-size: calc(8px + .3vw);
	width: 95%;
	display: inline-block;
}

.welcome-text{
	font-size: 18px;
	line-height: 40px;
	color: white;
	width: 90%;
}

.welcome{
	width: 50%;
	float:left;
	box-sizing: content-box;
	margin: 5% 0;
	position: relative;
}
.rel{
	position: relative;
	z-index: -1;
}

.welcome-graphic{
	width: 50%;
	box-sizing: content-box;
	float: left;
	position: relative;
}

.welcome-steps{
	position: absolute;
	right: calc(-150px + 13vw);
	z-index: 0;
	top: -200px;
}

.welcome-shape img{
	width: 40%;
	max-width: 130px;
	min-width: 90px;
}

.evolution{
	position: absolute;
	top: -50px;
	right: 30px;
}

.behavior{
	position: absolute;
	top: 80px;
	right: 400px;
}

.search{
	position: absolute;
	top: 200px;
	right: 13%;
}
.nudge{
	position: absolute;
	top: 300px;
	right: 370px;
}
.strategy{
	position: absolute;
	top: 400px;
	right: 10%;
}

.start-graphic{
	width: 50%;
	float: left;
	position: relative;
	z-index: 0;
	opacity: 0;
}

.start-graphic .start-elipse{
	width: 40vw;
	min-width: 400px;
	position: absolute;
	right: calc(-40px - 40%);
	top: -200px;
	z-index: -1;
}

.single-graphic{
	width: 100%;
	overflow: hidden;
	margin-left: 40%;
	margin-right: 40%;
	margin-top: 10%;
	position: relative;
}
.thinking{
	padding-left: 40%;
}
.science{
	padding-left: 40%;
}


.single-graphic img{
	width: 50%;
	max-width: 100px;
	display: block;
}

.single-graphic .graphic-text{
	width: 10% !important;
}
.thinking .graphic-text{
	
}
.thinking .graphic-arrow{
	margin-left: 60px;
	margin-bottom: 10px;
}
.thinking .graphic-icon{
	margin-left: 120px;
	width: 40% !important;
}
.thinking .graphic-arrow{
	width: 10% !important;
	max-width: 100px;
	min-width: 50px;
	
}

.science{
	margin-top: 5%;
}
.science .graphic-text{
	margin-left: 120px;
}
.science .graphic-arrow{
	margin-left: 90px;
	margin-bottom: 10px;
	transform: rotate(-100deg);
	width: 8% !important;
	max-width: 100px;
	min-width: 50px;
}
.science .graphic-icon{
	width: 30% !important;
	position: relative;
	top: 10px;
}

.results{
	margin-top: 5%;
}
.results .graphic-text{
	margin-left: 120px;
}
.results .graphic-arrow{
	margin-left: 150px;
	margin-bottom: 10px;
	margin-top: 20px;
	transform: rotate(-280deg);
	width: 8% !important;
	max-width: 100px;
	min-width: 50px;
}
.results .graphic-icon{
	width: 30% !important;
	margin-left: 180px;
}
.profit{
	position: absolute;
	bottom: -80px;
	right: calc(-20%-300px);
}
.profit .graphic-text{
	margin-left: 480px;
}
.profit .graphic-arrow{
	margin-left: 460px;
	margin-bottom: 10px;
	margin-top: 20px;
	transform: rotate(180deg);
	width: 8% !important;
	max-width: 100px;
	min-width: 50px;
}
.profit .graphic-icon{
	width: 30% !important;
	margin-left: 400px;
}

.overview-text{
	width: 75%;
	color: white;
}

.page-card{
	width: 28.3%;
	float: left;
	margin: 5% auto;
	padding: 0 2.5%;
}
.page-card .small-header{
	color: white;
}
.page-overview .medium-header{
	text-align: center;
	text-transform: uppercase;
	font-weight: 800;
	margin-bottom: 5%;
	color: white;
}
.page-underline{
	width: 7%;
	max-width: 50px;
	min-width: 5px;
	background-color: white;
	height: .8%;
	margin-bottom: 5%;
	margin-top: 2%;
}

.box{
	background-color: white;
	border-radius: 10px;
	padding: 2.5%;
	box-sizing: border-box;
	box-shadow: 5px 15px 50px rgb(90, 101, 136);
}

.blue-box{
	background-color: #9ed6f2;
}

.value-card{
	width: 30.3%;
	height: 40%;
	margin: 1%;
	float: left;
	position: relative;
}

.value-content{
	position: absolute;
	overflow: hidden;
	bottom: 9%;
	left: 9%;
	
}
.value-content p{
	width: 91%;
}
.value-card-top-icon{
	width: 50%;
	overflow: hidden;
	float: left;
}
.value-card-top-icon img{
	width: 30px;
}
.value-card-top-text{
	width: 50%;
	overflow: hidden;
	float: left;
	line-height: 1.7;
	letter-spacing: 1px;
	text-align: right;
	font-size: calc(8px + 0.5vw);
}
.value-header{
	width: 90%;
	margin-top: 6%;
}
.value-header h2{
	font-size: calc(12px + 1vw) !important;
	line-height: 1.5;
}
.value-text{
	line-height: 1.5;
	position: relative;
	bottom: -30%;
}

.logo-header{
	margin: 5% 0;
}

.logos{
	margin: 5% 10%;
	overflow: hidden;
}

.academy-logo .single-logo{
	margin: 0;
	width: 20%;
	text-align: center;
}

.single-logo{
	width: 23%;
	margin: 1%;
	float: left;
}

.single-logo img{
	margin: 0 auto;
}


.academy-uvod-text{
	width: 70%;
	margin: 0 auto;
	margin-bottom: 2%;
}

.quote-container{
	width: 50%;
	float: left;
}

.quote-container .small-text{
	width: 70%;
	
}
.quote-container .small-text p{
	color: white;
	letter-spacing: 1px;
	line-height: 2;
	font-size: calc(14px + .55vw);
	text-align: center;
	font-family: 'Patrick Hand', cursive;
}
.quote-box{
	width: 50%;
	float: left;
}


.quote{
	font-size: 100px;
	line-height:1px;
	color: #9ed6f7;
	font-family: 'Playfair Display', serif;
	display: block;
	
}
.quote-up{
	text-align: left;
}
.quote-down{
	text-align: right;
	margin-top: 7%;
}

.quote-sign{
	font-size: 15px;
	letter-spacing: 1px;
	text-align: right;
	text-transform: uppercase;
	margin-right: 20%;
	font-weight: 800;
	margin-top: 5%;
	color: white;
}

.academy-texts{
	width: 40%;
	float: left;
}
.academy-texts p{
	margin-bottom: 3%;
}

.maze-container{
	width: 45%;
	float: left;
	position: absolute;
	z-index:-1;
}

.maze-container img{
	width: 80%;
	position: absolute;
	right: -122.3%;
	top: -80px;
	z-index:100;
}

.academy-facts{
	width: 50%;
	float: left;
	margin-top: 5%;
	position: relative;
}
.academy-fact-content .small-text{
	width: 70%;
}

.academy-bullets{
	width: 50%;
	float: right;
}

.bullets-change{
	margin-bottom: 15%;
}
.reason-text-more{
	display: none;
}
.bullets-change ul{
	display: none;
}
#af0{
	display: block;
}


.active, .active .small-header{
	color: white !important;
}

.single-fact, .single-fact .small-header{
	color: #cbeeff;
	margin-bottom: 1.5%;
}
.single-fact{
	margin-bottom: 3%;
	cursor: pointer;
}
.single-fact:hover{
	color: white !important;
}
.single-fact:hover h2{
	color: white !important;
}
.academy-arrow{
	position: absolute;
	left: 1%;
	top: 4%;
}
.academy-arrow img{
	width: 80%;
}

.single-fact{
	margin-left: 10%;
}

.bullet-box{
	padding-top: 10%;
	padding-bottom: 10%;
	padding-right: 15%;
	padding-left: 15%;
}

.bullet-box .medium-header{
	margin-bottom: 5%;
}

.small-text-bullets{
	list-style-type: disc;
	margin-bottom: 2%;
}

.single-reason{
	width: 33.33%;
	float: left;
	padding: 2%;
	box-sizing: border-box;
}

.reason-text-more{
	padding: 20% 0;
	padding-left: 15%;
	padding-bottom: 10%;
	position: relative;
	top: -20px;
	z-index: -1;
}

.double-box-light{
	background-color: #9ed6f2;
	padding: 5%;
	border-radius: 0px 0px 10px 10px;
}

.double-box-blue{
	background-color: #67c5f4;
	padding: 5%;
	border-radius: 10px 10px 0px 0px;
}

.test-logo .small-text{
	color: white;
}

.testimonial{
	margin: 0 auto;
	text-align: center;
}

.outline{
	text-align: center;
}

.logo-box{
	overflow: hidden;
}

.single-workshop{

}

.cyan{
	background: #8bcdee !important;
}
.lightcyan{
	background: #9ed6f2;
}
.lightblue{
	background: #67c5f4;
}
.blue{
	background: #3face3;
}

.custom-shadow{
	box-shadow: 5px 10px 25px rgb(180, 180, 180);
}

.box-workshop{
	width: 47%;
	float: left;
	color: white;
	height: 40%;
	position: relative;
	margin: 1.5%;
}

.workshops-text{
	width: 50%;
	margin: 0 auto;
	margin-bottom: 1.5%;
}

.workshops-wrapper{
	margin: 10% 0;
}

.workshop-h{
	font-size: 22px;
	margin-bottom: 5%;
}
.workshop-c{
	position: absolute;
	overflow: hidden;
	bottom: 12%;
	left: 8%;
}

.workshop-c .small-text{
	width: 80%;
}

.lowkey{
	line-height: 1.8;
	margin-bottom: 2%;
}

.workshop-start .medium-text{
	width: 50%;
	margin: 0 auto;
}

.workshop-box{
	padding: 7% 10%;
}

.workshop-box .small-text, .workshop-box .small-header{
	width: 70%;
}

.contact-map{
	float: left;
}

.mapouter{
	text-align:left;
	height:700px;
	width:500px;
}
.gmap_canvas {
	overflow:hidden;
	background:none !important;
	height:700px;
	width:500px;
}

.contact-info{
	width: 30%;
	float: left;
}

.contact-info-row{
	margin-bottom: 10%;
	text-align: center;
}
.contact-info-row p{
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 2%;
}
.no-shadow{
	box-shadow: none;
}

.contact-header{
	margin-bottom: 20%;
	text-align: center;
}

.join-us{
	background-color: #1184bd;
}

.join-us .medium-text{
	margin-bottom: 3%;
	font-size: calc(12px + .7vw);
	color: white;
}

.page-card-jumper{
	padding: 3%;
	background: white;
	display: inline-block;
	border-radius: 10px;
	margin-top: 4%;
}

.page-card-jumper h2{
	font-size: calc(6px + .5vw);
	letter-spacing: 2px;
	text-transform: uppercase;
}

.team{
	background-image: url("team.png");
}
.team .small-text{
	width: 75%;
	margin: 1% auto;
}

.uvod-container{
	margin: 10% 0;
}

.single-member{
	width: 40%;
	overflow: hidden;
	float: left;
	margin-left: 7%;
}

.member-info{
	width: 70%;
	float: left;
}

.member-static .medium-header{
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
}

.member-static .medium-text{
	text-transform: uppercase;
	margin-bottom: 3%;
}

.member-static .small-text{
	margin-bottom: 3%;
	width: 100%;
}

.member-expand-h{
	width: 90%;
	float: left;
}
.expand-div{
	cursor: pointer;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

.member-arrow{
	width: 10%;
	float: left;
}
.member-arrow img{
	margin-top: 30%;
	position: relative;
	right: -70%;
	width: 80%;
	max-width: 10px;
	min-width: 5px;
}
.member-expand-content{
	display: none;
}
.member-social{
	display: none;
}

.member-expand-content p{
	margin: 5% 0;
}

.member-photo{
	float: left;
	width: 30%;
	padding-left: 5%;
	box-sizing: border-box;
	padding-top: 0;
}

.member-photo img{
	width: 110%;
}

.member-social{
	margin-top: 15%;
	width: 110%;
	color: white !important;
}

.member-social{
	
}
.member-social .small-header h2{
	font-size: calc(8px + .5vw);
	letter-spacing: 0;
	text-align: center;
	margin: 20% 0;
}

.single-social{
	margin-bottom: 30%;
}

.single-social p{
	font-size: calc(8px + .4vw);
	text-align: center;
	margin-bottom: 7%;
}
.single-social img{
	width: 20%;
	margin: 0 auto;
	display: block;
}

.explore-btn{
	margin: 0 auto;
	color: white;
	overflow: hidden;
	position: relative; 
	left: -50%;
	margin-top: -100px;
	opacity: 0;
	cursor: pointer;
}
.explore-text{
	overflow: hidden;
}
.explore-text h2{
	font-size: calc(12px + 0.3vw);
	text-transform: uppercase;
	letter-spacing: 2px;
}
.ciara{
	height: 50px;
	width: 1px;
	background: white;
	margin: 10px auto;
}


@media screen and (max-width:750px){
	.single-member{
		width: 100%;
		float: none;
		margin-left: 0;
	}
	.big{
		padding: 5%;
	}
	
	.medium{
		padding: 5%;
	}
	
	.div-container.small{
		padding: 5%;
	}
	.double-button{
		width: 100%;
	}
	.action-btn.double{
		float: none;
		width: auto;
		padding: 4%;
		margin-top: 5%;
	}
	.action-btn{
		float: none;
		width: 30%;
		padding: 4%;
		margin-top: 5%;
		text-align: center;
		margin: 5% auto;
	}
	.action-btn.short{
		width: 40%;
		padding: 6% 4%;
	}
	.uvod-container{
		width: 100%;
	}
	.academy-uvod-text{
		width: 90%;
	}
	.start-container{
		width: 100%;
		float: none;
	}
	.start-graphic{
		display: none;
	}
	.start-elipse{
		transform: rotate(-80deg);
		top: -400px;
	}
	.bottom-graphic{
		display: none;
	}
	.start-box{
		width: 47%;
	}
	.start-box:nth-child(2){
		margin-right: 0;
	}
	.welcome-graphic{
		position: static;
		width: 100%;
		float: none;
	}
	.welcome-steps{
		position: static;
	}
	.search{
		top: 500px;
		left: calc(50% - 40px);
	}
	.nudge{
		top: 500px;
		left: calc(50% - 130px);
	}
	.welcome-shape{
		overflow: hidden;
	}
	.welcome-steps img{
		width: 30%;
		height: 70%;
		transform: rotate(90deg);
		margin-top: -100px;
		margin-left: 30%;
	}
	.behavior{
		top: 430px;
		left: 50%;
	}
	.evolution{
		top: 430px;
		left: calc(50% - 80px);
	}
	.strategy{
		left: calc(50% - 160px);
		top: 430px;
	}
	.welcome-shape img{
		position: absolute;
		display: block;
		width: 60px;
	}
	.welcome{
		width: 100%;
		float: none;
	}
	.welcome .small-header{
		margin-top: 15%;
	}
	.welcome .small-header h2{
		font-size: calc(14px + .5vw);
	}
	.welcome-text p{
		font-size: calc(10px + .5vw);
		letter-spacing: 1px;
	}
	.big-text{
		font-size: calc(12px + 1vw);
		line-height: 2;
	}
	.logo-container{
		padding-bottom: 15% !important;
	}
	.page-card{
		width: 95%;
		margin: 0 auto;
		text-align: center;
	}
	.page-underline{
		margin: 0 auto;
	}
	.overview-text{
		width: 80%;
		margin: 5% auto;
		margin-bottom: 2%;
		font-size: calc(10px + 0.5vw) !important;
		letter-spacing: 1px;
	} 
	.medium-header{
		margin: 10% 0;
		font-size: calc(13px + 0.5vw) !important;
	}
	.decide-btn{
		display: none;
	}
	.page-card-jumper{
		margin: 15% 0;
		margin-top: 2%;
	}
	.decide-header{
		font-size: calc(18px + .5vw) !important;
	}
	.value-card{
		width: 70%;
		float: none;
		height: 45%;
		margin: 15% auto;
	}
	.high{
		height: 60%;
	}
	.low{
		height: 30%;
	}
	.value-card-top{
		padding: 4% 7%;
	}
	.value-card-top img{
		width: 20%;
	}
	.value-header{
		padding: 4% 7%;
		width: 82%;
	}
	.small-text{
		font-size: calc(10px + 0.5vw) !important;
		letter-spacing: 1px;
	}
	.logo-box{
		width: 70%;
		margin: 0 auto;
	}
	.single-logo{
		width: 70%;
		margin: 25% auto;
		float: none;
	}
	.single-logo img{
		width: 70%;
		margin: 10% auto;
		display: block;
	}
	.member-arrow img{
		width: 50%;
		margin-top: 45%;
	}
	.single-member{
		margin: 10% 0;
	}
	.member-static .medium-header{
		margin: 0;
	}
	.member-info{
		width: 90%;
		padding: 5%;
	}
	.member-photo{
		float: none;
		width: 100%;
		padding: 5%;
		overflow: hidden;
		clear: both;
	}
	.member-photo img{	
		display: block;
		width: 47.5%;
		margin-right: 2.5%;
		float: left;
	}
	.member-social{
		display: block;
		width: 47.5%;
		float: left;
		border-radius: 5px;
		margin: 0;
		margin-left: 2.5%;
	}
	.single-social{
		overflow: hidden;
		text-align: center;
	}
	.single-social img{
		width: 20% !important;
		display: inline-block;
		margin-left: 40%;
	}
	.member-expand{
		margin-top: 5%;
	}
	.quote-container{
		width: 100%;
		float: none;
		
	}
	.quote-container .small-text{
		padding: 10%;
		width: 80%;
	}
	.quote{
		top: -70px;
		z-index: -2;
		left: 2vw;
	}
	.quote-sign{
		font-size: calc(6px + .2vw);
		margin-right: 0;
		margin-top: -20px;
		text-align: center;
	}
	.quote-box{
		width: 100%;
		float: none;
		margin-top: 10%;
		padding: 10%;
	}
	.quote-box .margin-bottom{
		margin-bottom: 10%;
	}
	
	.maze-container{
		margin: 0 auto;
		display: table;
		position: static;
		float: none;
	}
	.maze-container img{
		width: 80%;
		position: static;
		margin-top: -11%;
		transform: rotate(270deg);
	}
	.academy-texts{
		width: 100%;
		float: none;
		box-sizing: border-box;
		padding: 10% 5%;
	}
	.academy-texts .small-text{
		margin-bottom: 10%;
	}
	.academy-bullets{
		width: 100%;
		float: none;
	}
	.bullet-box .medium-header{
		margin: 0;
		margin-bottom: 10%;
	}
	.small-text-bullets{
		margin-bottom: 5%;
	}
	.academy-facts{
		width: 100%;
	}
	.single-fact{
		width: 40%;
		float: left;
		margin-left: 0;
		padding: 5%;
	}
	.academy-arrow{
		display: none;
	}
	.value-header{
		margin-top: -2%;
	}
	.single-reason{
		width: 100%;
		float: none;
	}
	.testimonial img{
		width: 90%;
	}
	.workshops-text{
		width: 80%;
	}
	.box-workshop{
		width: 100%;
		float: none;
	}
	.test-logo-container{
		padding: 0;
	}
	.action-btn.expand{
		padding: 4% 6%;
	}
	.reason-text-more{
		padding: 15%;
	}
	.test-wrapper .medium-header, .logo-wrapper .medium-header{
		margin: 5% 0;
	}
	.logo-wrapper .small-text{
		margin-bottom: 10%;
	}
	.academy-logo{
		overflow: hidden;
	}
	.all-single-logo{
		width: 27.33%;
		margin: 2.5%;
		float: right;
	}
	.double-box-blue{
		border-radius: 0;
	}
	.logo-row{
		width: 100%;
		overflow: hidden;
	}
	.all-single-logo img{
		width: 60%;
		margin: 10% auto;
		display: block;
	}
	.list{
		margin: 10% 0;
	}
	.action-btn.transparent{
		width: 40%;
		padding: 0;
		margin: 0;
		text-align: left;
		margin-top: 5%;
	}
	.action-btn.workshop{
		width: 40%;
	}
	.workshop-start .big-header{
		margin: 5% 0;
		margin-top: 10%;
	}
	.workshop-box .small-text{
		width: 100%;
		margin-bottom: 10%;
	}
	.workshop-box .small-header{
		margin-bottom: 5%;
	}
	.box-workshop{
		height: 60%;
		width: 70%;
		margin: 0 auto;
		margin-bottom: 10%;
	}
	.workshop-start .medium-text{
		width: 80%;
		margin-bottom: 10%;
	}
	.contact-map{
		float: none;
		width: 100%;
	}
	.contact-info{
		float: none;
		width: 100%;
		
	}
	.contact-form{
		float: none;
		width: 100%;
		
	}
	.contact-info-row p{
		font-size: calc(12px + .5vw)
	}
	.gmap_canvas, .mapouter{
		width: 100% !important;
		height: 200px !important;
	}
}